	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/07/2020 06:28
  	*/
    
       @font-face {
          font-family: "Flaticon";
          src: url("../../font/Flaticon.eot");
          src: url("../../font/Flaticon.eot?#iefix") format("embedded-opentype"),
               url("../../font/Flaticon.woff2") format("woff2"),
               url("../../font/Flaticon.woff") format("woff"),
               url("../../font/Flaticon.ttf") format("truetype"),
               url("../../font/Flaticon.svg#Flaticon") format("svg");
          font-weight: normal;
          font-style: normal;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio:0) {
          @font-face {
            font-family: "Flaticon";
            src: url("../../font/Flaticon.svg#Flaticon") format("svg");
          }
        }
        
        [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
        [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
          font-family: Flaticon;
          font-size: 16.7rem;
          font-style: normal;
          color: $black-color;        
        }
        
        .flaticon-tyre:before { content: "\f100"; }
        .flaticon-battery:before { content: "\f101"; }
        .flaticon-brake:before { content: "\f102"; }
        .flaticon-automobile:before { content: "\f103"; }
        .flaticon-repair:before { content: "\f104"; }
        .flaticon-oil:before { content: "\f105"; }
        .flaticon-call:before { content: "\f106"; }
        .flaticon-globe:before { content: "\f107"; }
        .flaticon-phone:before { content: "\f108"; }