/* Variables */

// Colors
$primary-color: #ff6900;
$secondary-color:#222;
$white:#fff;
$black:#2f2e3e;
$text-color:#666;
$text-4:#444;
$black-dull: #000;
$third-color: #222;
$fourth-color: #F8F8F8;
$fifth-color: #333;
$sixth-color: #999;
$seventh-color:#ccc;
$white-color: #fff;
$black-color: #2f2e3e;
$footer-color: #BBB;
$border-color: #eee;
$fb-color: #3B5999;
$google-color: #4285F4;
$insta-color: #C829AA;
$text-color: #666;
$second-border:#707070;
$star-checked: #eba70d;
// Font
$primary-font: 'Montserrat',
sans-serif !important;
// Responsive Break Points
$xxxsm-device: 320px;
$xxxsm-plus-device: 321px;
$xxsm-device: 375px;
$xxsm-plus-device: 376px;
$xsm-device: 425px;
$xsm-plus-device:426px;
$sm-device: 575px;
$sm-plus-device:576px;
$md-device: 767px;
$md-plus-device: 768px;
$lg-device: 999px;
$lg-plus-device: 1000px;
$xlg-device: 1199px;
$xlg-plus-device: 1200px;
$xxlg-device: 1365px;
$xxxlg-device: 1440px;