/.history
/vendor
/vendorll
.idea
/public
/storage
/node_modules
/public/images/cache
.history
.env
/.env
tyre_shop.sql
/config
/resources
/routes
/database
/test
config
composer.json
database
resources
routes
test
/app/Http/Requests/User