body {
     font-family: 'Montserrat', sans-serif !important;
     line-height: 1.7;
     font-weight: 400;
     color: $text-color;
}

::selection {
     background-color: $primary-color;
     color: $white-color;
}

.primary-headline {
     color: $white;
     font-weight: bold;
     text-transform: uppercase;
     font-size: 5.4rem;
     line-height: 7rem;
     animation-name: moveInLeft;
     animation-duration: 1s;
     animation-timing-function: ease-out;
     margin-bottom: 0;

}


.secondary-headline {
     font-size: 3.6rem;
     display: inline-block;
     transition: .2s all;
     font-weight: 600;
     margin-bottom: 5rem;
     line-height: 3.6rem;
     position: relative;
     animation: moveInRight 1s ease-out;
     @include m-450 {          
          font-size: 3rem;          
     }  

     .left-border {               
          position: absolute;
          left: -17rem;
          top: 1.5rem;  
          @include small-767 {
               left: -24rem;
          }
          @include m-450 {
               left: -16rem;
               max-width: 47%;
               
          }                            
          // @include m-450 {
          //      display: none;
          // }
     }

     .right-border {               
          position: absolute;               
          right: -17rem;
          top: 1.5rem;
          @include small-767 {
               right: -24rem;
          }
          @include m-450 {
               right: -16rem;
               max-width: 47%;
          }                                             
          // @include m-450 {
          //      display: none;
          // }
     }  

     &-white {
          color: $white;          
     }

     &-black {
          color: $black;                  
     }
     &-orange {
          color: $primary-color;
     }

     &:hover {
          // transform: skewY(2deg) skewX(15deg) scale(1.1);
          text-shadow: 0.5rem 1rem 2rem rgba($black, 0.1);
     }
}